<div class="intro-container">
  <div class="intro-detail animated fadeInLeft">
    <span><a href="<%= blogs_path(@blogs) %>" class="back-container"><i class="material-icons back">arrow_back</i></a>/ Hello!</span>
  </div>
</div>
<div class="menu-container animated fadeInDown">
  <div class="menu">
    <ul>
      <a href="<%= blogs_path(@blogs) %>"><li>Highlights</li></a>
      <a class="active" href="<%= about_path %>"><li>About me</li></a>
      <a href="https://dribbble.com/ederrengifo" target="_blank"><li>Dribbble</li></a>
      <a href="https://github.com/ederrengifo" target="_blank"><li>Medium</li></a>
      <a href="https://www.linkedin.com/in/ederrengifo" target="_blank"><li>LinkedIn</li></a>
    </ul>
  </div>
</div>
<div class="highlights-container animated fadeIn">
  <div class="highlight-entrie">
    <h1>Who am I?</h1>
    <p class="max-width:400px;"><%= image_tag('avatar.jpg', class: "shot-profile") %></p>
    <p>I was born in Perú. I've started making design and music since early ages. After finalized secondary school I chose to follow a Business Management career in the university of my city, although my idea about what to do for a living was always clear. Almost the same day I could sign a contract, after my 18th birthday, I applied to a local <a href="http://xtudio.com" target="_blank">Design studio</a> to work as designer. Has been a long ride since then, passing for most of the fields related with design; advertising, editorial design, animation, branding, etc. Until I could find in technology my real passion. Eventually I had to take the decision of leaving college to persue my design career dream.</p>
    <p>With a high self-taught formation and attitude, I started to work for bigger clients during my period as freelancer, for clients from here, Perú, and then little by little clients from United States, Spain, Norway, etc. In 2012 I got hired by an <a href="http://xubliminal.com/#/" target="_blank">studio</a> from Costa Rica to make web design for medium and big clients around the world, the next year I moved to a more global company called <a href="https://outline2design.com" target="_blank">Outline2Design</a>, the design division of <a href="http://p2h.com" target="_blank">P2H</a>. The same year I released my first personal product, <a href="https://itunes.apple.com/us/app/t3-player-simpler-way-to-listen/id602942176?mt=8" target="_blank">T3 Player</a>, with this little app for iOS, me and my <a href="http://www.brynbodayle.com" target="_blank">partner</a> reached 16,000 paid downloads and a brief apparition in Esquire UK magazine. A couple of years later, after some weeks lerning Swift I released my second product and my first game called <a href="https://itunes.apple.com/us/app/autumns-song/id955048848?mt=8" target="_blank">Autum's Song</a>, available for free now.</p>
    <p>In 2015, <a href="http://able.co" target="_blank">Able</a> hired me and I moved to work in the Lima's office. Having the opportunity to work in products for very competitive markets, learning from top professionals from SF and NY, I also had the opportunity to learn more about coding (as I told you, I also like sciences and engineering stuff). I learned Ruby in Rails and released an small product called <a href="http://www.todoable.co" target="_blank">Doable</a>. Currently I'm learning React and seeking opportunities to continuing this bio.</p>
    <h2>Experience</h2>
    <div>
      <ul>
        <li>(2010 to 2011) <a href="http://xtudio.com" target="_blank">Xtudio</a> - Graphic Designer </li>
        <li>(2013 to 2013) <a href="http://xubliminal.com/#/" target="_blank">Xubliminal</a> - Web Designer </li>
        <li>(2013 to 2015) <a href="https://outline2design.com" target="_blank">Outline2Design</a> - UI Designer </li>
        <li>(2015 to now) <a href="http://able.co" target="_blank">Able</a> - UI/UX Designer </li>
      </ul>
      </div>
    <h2>Personal Products</h2>
    <div>
      <ul>
        <li>(2013) <a href="https://itunes.apple.com/us/app/t3-player-simpler-way-to-listen/id602942176?mt=8" target="_blank">T3 Player</a> - iOS </li>
        <li>(2015) <a href="https://itunes.apple.com/us/app/autumns-song/id955048848?mt=8" target="_blank">Autumn's Song</a> - iOS </li>
        <li>(2017) <a href="http://www.todoable.co" target="_blank">Doable</a> - Web </li>
      </ul>
    </div>
    <h2>Recent Medium Articles</h2>
    <div>
      <ul>
        <li><a href="https://medium.com/@ederrengifo/my-story-6450d29b4546#.tt651fr5j" target="_blank">My Story</a></li>
        <li><a href="https://medium.com/@ederrengifo/sobre-fracasos-y-aprendizaje-d4d2185a9149#.br1s6jypd" target="_blank">No hay fracaso, solo aprendizaje</a></li>
        <li><a href="https://medium.com/@ederrengifo/the-way-to-autumn-s-song-1f01ff002606#.ftzh7xk4q" target="_blank">Behind Autum's Song</a></li>
        <li><a href="https://medium.com/@ederrengifo/eres-emprendedor-a0cb4c874429#.62v26kjiu" target="_blank">¿Eres Emprededor?</a></li>
      </ul>
    </div>
    <h2>Contact</h2>
    <div>
      <ul>
        <li>rengifo.eder@gmail.com</li>
      </ul>
    </div>
  </div>
</div>
