
<div class="intro-container">
  <div class="intro-detail">
    <span><a href="<%= blogs_path(@blogs) %>" class="back-container"><i class="material-icons back">arrow_back</i></a>/ Editing</span>
  </div>
</div>
<div class="highlights-container">
  <div class="form-container">
    <%= render 'form', blog: @blog %>
  </div>
</div>
